*{
  padding: 0;
  margin: 0;
  
}

.searchinput{
  border: none;
  box-shadow: 5px 5px 8px #B7B1F2;
  border-radius: 18px;
  padding-left: 20px;
  padding-right: 20px;
  width: 270px;
  height: 40px;
}

.bottomContent{
  margin-top: 80px;
}

.bottomContent h5{
  color:#FDB7EA;
}

.dropdown{
  width: 50px;
  height: 80px;
  background-color: white;
  position: absolute;
  margin-bottom: 120px;
  right: 20px;
  border-radius: 10px;
  box-shadow:5px 5px 10px #FDB7EA;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.navbar{
  background-color: #E8F9FF;
  border-radius: 10px;
  padding: 10px;
}